body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    max-width: 420px;
    margin: 0 auto;
    margin-bottom: 20px;
    color: #002366;
    font-size: 18px;
}

form {
    max-width: 420px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.question {
    margin-bottom: 10px 5px 15px 5px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 12px;
}

input[type="text"],
textarea,
select,
input[type="number"] {
    width: 95%;
    padding: 10px;
    margin: 10px 5px 15px 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #002366;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin: 0 auto;
    width: 100%;
}

.question label::first-letter {
    color: #002366;
    font-weight: bold;
    font-size: 1.2em;
}